/*
 * Based on:
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0096AC;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center;
}

.centeredblock {
	margin: 0 auto !important;
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #FCDBD5; /*light pink*/

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body #content {
	/*background: #FCDBD5;*/ /*light pink*/
	background: linear-gradient(150deg, #FEE1CA, #FECAE2) center center fixed no-repeat;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}

a {
	color: #0096AC; // greenish blue
}

a.link-active {
	border-bottom: 2px solid;
}

section {
	padding: 1em;
	text-align: center;
}

section.bg-light{
	background: rgba(255,255,255,0.5);
}

.section-title {
	margin-bottom: 30px;
}

ul {
	list-style-type: none;
}

a.buttonlink {
	text-decoration: none;
}

p.intro {
	font-size: 120%;
}

/* ==========================================================================
   Nav Bar
   ========================================================================== */

.navbar-brand {
	font-weight: 700;
	/* make sure the section links still fit next to logo img + text */
	margin-right: -50px;
}

.navbar-brand svg, .navbar-brand img {
	height: 100%;
	margin-top: -3px;
	margin-right: 10px;
}

.navbar-default .navbar-brand {
	color: #0096AC;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #0096AC;
	background-color: transparent;
	border-bottom: 2px solid #0096AC;
}

.navbar-default .navbar-nav > li > a {
	color: #0096AC;
}

.navbar-lang {
	margin-left: 20px !important; 
	font-weight: 200;
	font-size: 14px;
}

.navbar-lang a:hover, .navbar-lang a:focus {
	text-decoration: none;
	border-bottom: 2px solid;
}

.navbar-lang:hover .ui-nohover{
	color: #0096AC;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	margin-top: -70px;
	padding-top: 200px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
	/*
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    */
	
	display: block;
    position: relative;
}

/* semi transparent background image*/
/* background dynamically inserted in instant-header template */
#headerwrap::before {
	/* provide default fall back image that will be overridden*/
	background: url(/images/back.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;

	opacity: 0.8;
  	z-index: -1;   
}

/*black background*/
#headerwrap::after {
	content: "";
	background: black;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
		
  	z-index: -2;   
}

#headerwrap * {
	color: #ffffff;
}

#headerwrap h1 {
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
}

#speakers ul {
	margin-left: -40px;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #0096AC
}

#workwrap {	
	background: url(/images/work.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff
}

#aboutwrap {	
	background: url(/images/about.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}