/*
SPONSORS
*/

ul.sponsors-list, ul.partners-list{
    padding: 0;
}

.sponsor-item, .partner-item {
    display: inline-block;
    margin: 0 30px;

    .sponsor--link, .partner-link {
        display: block;
        width: 250px;
        height:250px;
        text-align:center;
        vertical-align: middle;
        line-height: 250px;

        img {
            max-width: 250px;
        }
    }
}

.partner-item.small {
    .sponsor--link, .partner-link {
        
        width: 200px;
        height:200px;
        line-height: 200px;

        img {
            max-width: 200px;
        }
    }
}


.partner-call button {
    display: inline;
    position: relative;
    margin: 0px auto;
    border: 1px dashed;
}

.partner-call button:hover {
    /*border: #0096AC;*/
}

.partner-item a {
    text-decoration: none;
}