<!-- <a class="buttonlink" target="_blank" href="https://ti.to/sensorium-2016/sensorium-2016">
 	<button class="centeredblock button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Get Tickets Now</button>
</a> -->
<a class="buttonlink" href="http://sensorium.is/posts/sensorium2016-photos.html">
 	<button class="centeredblock button button--wayra button--border-medium button--text-upper button--size-s button--text-thick button--inverted">Check out the photos</button>
</a>